/*###====================== 
    Sass Variables 
====================== ###*/
/*### Primary Color Variables ###*/
/*### Border Variables ###*/
/*### Font Color Variables ###*/
/*### Font Color Onhover Variables ###*/
/*### Font Size Variables ###*/
/*### Margin Variables ###*/
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

/*### Padding Variables ###*/
/*### Position Variables ###*/
/*### Width Variables ###*/
/*### Height Variables ###*/
/*### Border Radius Variables ###*/
/*### Vertical Align Variables ###*/
/*### Sass Functions ###*/
/*### Sass Mixins ###*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"), url("../fonts/bahnschrift-regular.woff") format("woff");
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f8fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002857;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100%;
  font-family: "Bahnschrift Regular";
}

body {
  padding-left: 17px;
  margin-top: 5px;
  background: #e5f0f7;
}

h2 {
  font-family: "Bahnschrift Regular";
}

.bahnschriftregular {
  font-family: "Bahnschrift Regular";
}

header {
  height: 105px;
  margin-bottom: 80px;
}

header nav {
  padding-left: 30px !important;
  padding-right: 60px !important;
  font-family: "Bahnschrift Regular";
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 1px 10px 11px 1px #d5eaf7;
          box-shadow: 1px 10px 11px 1px #d5eaf7;
}

header nav .navbar-brand {
  margin-right: 2rem;
}

header nav .navbar-brand img {
  width: 300px;
}

header nav .navbar-collapse#navbarSupportedContent {
  display: inline-block !important;
}

header nav .navbar-collapse .navbar-nav .nav-item {
  position: relative;
  margin-right: 45px;
  font-size: 16px;
}

header nav .navbar-collapse .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #002857 !important;
  opacity: 1;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  font-weight: 900;
}

header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #ade54c;
  bottom: -8px;
  left: 0;
  width: 100%;
}

footer {
  margin-top: 10rem;
}

footer .dailylife_banner_sec {
  min-height: 190px;
  border-bottom: 10px solid #ade54c;
  background-image: url(../images/how-daily-life-changes-as-we-age.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: table;
  width: 100%;
  padding-bottom: 28px;
}

footer .dailylife_banner_sec .container-fluid {
  display: table-cell;
  vertical-align: bottom;
}

footer .dailylife_banner_sec .container-fluid h2 {
  color: #e5f0f7;
  font-size: 52px;
}

.contact_fixed_btn {
  background: #ade54c;
  top: 30%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  position: fixed;
  right: 0px;
}

.contact_fixed_btn a {
  color: #002857;
  padding: 10px 25px;
  display: block;
  text-decoration: none;
}

.contact_fixed_btn a i {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 5px;
}

#main_wrapper {
  height: 100%;
}

.publications_page h2 {
  color: #002857;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.publications_page .collection_counter {
  min-height: 93px;
  background: #a4e3ff;
  display: table;
  width: 100%;
  border-radius: 50px;
  -webkit-box-shadow: 1px 5px 10px 1px #cce6f6;
  box-shadow: 1px 5px 10px 1px #cce6f6;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 25px;
}

.publications_page .collection_counter .container {
  display: table-cell;
  vertical-align: middle;
}

.publications_page .collection_counter .container h4 {
  margin-top: 10px;
  margin-left: 28px;
  color: #002857;
  font-size: 20px;
}

.publications_page .collection_counter .container .counter {
  text-align: center;
}

.publications_page .collection_counter .container .counter strong {
  font-size: 28px;
  color: #002857;
  font-weight: 900;
  margin-bottom: 10px;
  display: block;
}

.publications_page .collection_counter .container .counter span {
  display: block;
  font-size: 18px;
  color: #002857;
}

.publications_page .filter_sec {
  background: #ffffff;
  padding: 18px 20px;
  min-height: 100%;
  -webkit-box-shadow: -2px 3px 19px 11px #cce6f6;
          box-shadow: -2px 3px 19px 11px #cce6f6;
}

.publications_page .filter_sec form .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.publications_page .filter_sec form .form-group .find_input {
  position: relative;
  border-bottom: 1px solid #7f93ab;
}

.publications_page .filter_sec form .form-group .find_input .fa-binoculars {
  position: absolute;
  color: #1798e0;
  bottom: 10px;
  font-size: 18px;
}

.publications_page .filter_sec form .form-group .find_input #findinputID {
  border: 0;
  border-radius: 0;
  padding: 0 28px;
  color: #111111;
}

.publications_page .filter_sec form .form-group .find_input #findinputID::-webkit-input-placeholder {
  color: #111111;
}

.publications_page .filter_sec form .form-group .find_input #findinputID:-ms-input-placeholder {
  color: #111111;
}

.publications_page .filter_sec form .form-group .find_input #findinputID::-ms-input-placeholder {
  color: #111111;
}

.publications_page .filter_sec form .form-group .find_input #findinputID::placeholder {
  color: #111111;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes {
  display: block;
  float: right;
  height: 100%;
  /* The checkbox container */
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
  margin-top: 10px;
  float: left;
  border-right: 1px solid #333333;
  padding-right: 15px;
  margin-right: 15px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container input:checked ~ .checkmark {
  background-color: #2377b5;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: solid 1px #1767a8;
  /* Create the checkmark/indicator (hidden when not checked) */
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.publications_page .filter_sec form .form-group .find_input .custom_checkboxes .checkbox_container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.publications_page .filter_sec form .form-group .years_list {
  margin-top: 15px;
}

.publications_page .filter_sec form .form-group .years_list li {
  display: inline-block;
  margin-right: 35px;
}

.publications_page .filter_sec form .form-group .years_list li a {
  color: #085da3;
  text-decoration: none;
}

.publications_page .filter_sec form .form-group .author_name {
  margin-top: 15px;
}

.publications_page .filter_sec form .form-group .author_name li {
  display: inline-block;
  margin-right: 5px;
}

.publications_page .filter_sec form .form-group .author_name li a {
  color: #085da3;
  text-decoration: none;
}

.publications_page .filter_sec form .form-group .switcher_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #4585ba;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher {
  position: relative;
  width: 100%;
  height: 33px;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 0;
  background-color: #1E1E1E;
  outline: none;
  cursor: pointer;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher input:before, .publications_page .filter_sec form .form-group .switcher_btn span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher input:before {
  content: 'AND';
  left: 14px;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher input:after {
  content: 'OR';
  right: 18px;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher label {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 0;
  height: 100%;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher label.deactivate {
  background: #b8b8b8 !important;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input {
  -webkit-transition: .25s -.1s;
  transition: .25s -.1s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:checked {
  background-color: #FFFFFF;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:checked:before {
  color: #FFFFFF;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:checked:after {
  color: #1868a9;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:checked + label {
  left: 0;
  right: 60px;
  background: #085da3;
  -webkit-transition: left .5s, right .4s .2s;
  transition: left .5s, right .4s .2s;
  width: 60px;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:not(:checked) {
  background: #ffffff;
  -webkit-transition: background .5s -.1s;
  transition: background .5s -.1s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:not(:checked):before {
  color: #085da3;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:not(:checked):after {
  color: #ffffff;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-1 input:not(:checked) + label {
  left: 60px;
  right: 0;
  background: #085da3;
  -webkit-transition: left .4s .2s, right .5s, background .35s -.1s;
  transition: left .4s .2s, right .5s, background .35s -.1s;
  width: 57px;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 {
  overflow: hidden;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input {
  -webkit-transition: background-color 0s .5s;
  transition: background-color 0s .5s;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:before {
  color: #1E1E1E;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:after {
  color: #FFFFFF;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:checked {
  background-color: #FFFFFF;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:checked + label {
  background: #FFFFFF;
  -webkit-animation: turn-on .5s ease-out;
          animation: turn-on .5s ease-out;
}

@-webkit-keyframes turn-on {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes turn-on {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:not(:checked) {
  background: #1E1E1E;
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 input:not(:checked) + label {
  background: #1E1E1E;
  -webkit-animation: turn-off .5s ease-out;
          animation: turn-off .5s ease-out;
}

@-webkit-keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes turn-off {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.publications_page .filter_sec form .form-group .switcher_btn span.switcher.switcher-2 label {
  top: 0px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.publications_page .filter_sec form .form-group .eyeview_btn {
  display: table;
  overflow: hidden;
  background: #d2f1ff;
  border-radius: 100px;
  min-height: 40px;
  width: 100%;
  padding: 0 12px 0 12px;
}

.publications_page .filter_sec form .form-group .eyeview_btn.deactivate {
  background: #ebebeb;
}

.publications_page .filter_sec form .form-group .eyeview_btn span {
  color: #002857;
  vertical-align: middle;
  display: table-cell;
  text-decoration: none;
  cursor: pointer;
}

.publications_page .filter_sec form .form-group .eyeview_btn span i {
  vertical-align: middle;
  float: right;
  color: #085da3;
}

.publications_page .filter_sec form .result_btn {
  margin: 0 auto;
  border: 0;
  background: transparent;
  color: #085da3;
  text-decoration: none;
  display: block;
  margin-top: 18px;
  font-weight: normal;
}

.publications_page .filter_sec form .apply_btn {
  margin: 0 auto;
  border: 0;
  color: #002857;
  text-decoration: none;
  display: block;
  font-weight: normal;
  background: #8fddff;
  min-width: 150px;
  border-radius: 50px;
  padding: 10px 0;
  margin-top: 25px;
}

.publications_page .filter_sec form .clear_btn {
  border: 0;
  background: transparent;
  color: #085da3;
  text-decoration: none;
  display: block;
  margin-top: 0;
  font-weight: normal;
  float: right;
  line-height: normal;
}

.publications_page .filter_sec form .clear_btn i {
  vertical-align: middle;
  margin-right: 5px;
  color: #085da3;
}

.publications_page .filter_sec form :focus {
  outline: 0;
}

.publications_page .filter_sec .add_btn .plus_btn {
  background: #b3b3b3;
  border: 0;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: table;
  text-align: center;
  cursor: pointer;
}

.publications_page .filter_sec .add_btn .plus_btn:focus {
  outline: 0;
}

.publications_page .filter_sec .add_btn .plus_btn:hover {
  background: #085da3;
}

.publications_page .filter_sec .add_btn .plus_btn i {
  vertical-align: middle;
  color: #e6e6e6;
  font-weight: 900;
  font-size: 32px;
  display: table-cell;
}

.publications_page .horizontal_box {
  min-height: 178px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 6px 9px #e5f0f7;
          box-shadow: 0px 2px 6px 9px #e5f0f7;
  border-radius: 25px;
  padding: 22px 20px 5px 20px;
}

.publications_page .horizontal_box .horizontal_box_header {
  border-bottom: 1px solid #b2bcc3;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.publications_page .horizontal_box .horizontal_box_header h4 {
  font-size: 18px;
  color: #002857;
  font-weight: 600;
}

.publications_page .horizontal_box .horizontal_box_body p {
  font-size: 18px;
  margin-bottom: 18px;
  color: #002857;
}

.publications_page .horizontal_box .horizontal_box_body p span {
  font-size: 18px;
  color: #002857;
}

.publications_page .horizontal_box .horizontal_box_body p a {
  display: inline-block;
  vertical-align: middle;
}

.publications_page .horizontal_box .horizontal_box_body p a i {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */